<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phantom Testnet Transaction Example</title>
    <script src="https://unpkg.com/@solana/web3.js@latest/lib/index.iife.min.js"></script>
    <script src="https://unpkg.com/buffer@6.0.3/index.js"></script>

    <script type="module" src="{{url_for('static', filename='js/phantom_connect.js')}}">

    </script>
    <script type="module" src="{{url_for('static', filename='js/transaction.js')}}">

    </script>
</head>
<body>
    <h1>Phantom Testnet Transaction Example</h1>
    <button id="initiateTransaction">Initiate Testnet Transaction</button>
    <button id="connectToPhantom">Connect to Wallet</button>
</body>
</html>