body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('/static/images/space2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal {
    background-color:rgb(33, 34, 35);
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    animation: pulse 2s infinite;
}
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.close-btn {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 24px;
    cursor: pointer;
}
h1, h2 {
    margin: 0;
    font-size: 24px;
    color: #ffffff;
    font-family: system-ui, sans-serif;
}
.item-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 20px;
}
.item-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.rarity {
    background-color: #333;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 12px;
    text-transform: uppercase;
    animation: pulse2 2s infinite;
    color: #ffffff;
}
.info-box {
    background-color: #333;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
}
.info-row {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #444;
}


.info-key {
    text-transform: uppercase;
    color: #fff;
    font-family: system-ui, sans-serif;
}

.info-value {
    color: #fff;
    font-family: system-ui, sans-serif;
}

.quantity{
    color: #fff;
    font-family: system-ui, sans-serif;
}

.price {
    color: #fff;
    font-family: system-ui, sans-serif;
}   
input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    background-color: #444;
    border: none;
    border-radius: 5px;
    color: #fff;
}
label {
    display: block;
    margin-bottom: 5px;
}
.action-buttons {
    display: flex;
    justify-content: space-between;
}
.action-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
.submit-btn-buy {
    background-color: #4CAF50; /* Green */
    color: white;
}
.submit-btn-sell {
    background-color: #f44336; /* Red */
    color: white;
}
.info-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.input-box {
    width: 200px !important;
}

@keyframes pulse {
    0% { box-shadow: 0 0 15px #ffffff; }
    50% { box-shadow: 0 0 30px #ffffff; }
    100% { box-shadow: 0 0 15px #ffffff; }
}
@keyframes pulse2 {
    0% { 
        box-shadow: 0 0 5px rgba(193, 53, 132, 0.2),
                    0 0 10px rgba(225, 48, 108, 0.2);
    }
    50% { 
        box-shadow: 0 0 10px rgba(193, 53, 132, 0.3),
                    0 0 20px rgba(225, 48, 108, 0.3);
    }
    100% { 
        box-shadow: 0 0 5px rgba(193, 53, 132, 0.2),
                    0 0 10px rgba(225, 48, 108, 0.2);
    }
}